/* .btnContainer{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 50px;
    width: 50%;
}
.btns{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.button{
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: none;
    outline: none;
    color: white;
    opacity: 0.6;
    border-radius: 5px;
}
.button:hover{
opacity: 1;
}
.button:disabled{
    cursor: not-allowed;
    opacity: 0.6;
} */